@import url("https://fonts.googleapis.com/css2?family=Libertinus+Sans:ital,wght@0,400;0,700;1,400&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

body {
    font-family: "Nunito", sans-serif; /* new */
    color: var(--text-color);
    background-color: var(--background-color);
}

h1 {
    font-size: 4.2rem;
    color: var(--primary-color);
    margin: 0 0 0.5em;
    line-height: 1.1;
}

h2 {
    font-size: 2.6rem;
    color: var(--secondary-color);
    margin: 0.5em 0 0.4em;
    line-height: 1.2;
}

h3 {
    font-size: 1.6rem;
    color: var(--accent-color);
    margin: 0.6em 0 0.3em;
    line-height: 1.25;
}

p {
    font-size: 1rem;
    margin: 0 0 1rem;
}
